html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

nav {
    background-color: #2D3E49;
}

footer {
    background-color: #2D3E49;
}

#textcolor {
    color: #DEE32A;
}

img {
    width: 60px;
    margin-left: 30%;
}

#canvasContainer {
    position: relative;
    width: 600px;
}

#canvas {
    z-index: 1;
    position: absolute;
    left: 30%;
    top: 30%;
}

#pointer {
    position: absolute;
    left: 17.1%;
    top: 27%;
    z-index: 999;
}

button {
    position: absolute;
    bottom: 10%;
    left: 46%;
}